doctype html
html
  head
    title= title
    link(href="/css/bootplus.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet")
    script(src="/js/jquery.js")    
    script(src="/js/async.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/jade.js")
    script(src="/js/breeze.min.js")
    script(src="/js/lodash.js")
    script(src="/js/EventEmitter.js")
    script(src="/js/swfobject.js")    
  body
    block content